body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   font-size: 50px; 
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-content{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
    border-radius: 50%;
    padding-top: 30px;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image:url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}
.exprience-area{
    border-radius: 4px;
    background: #e0e0e0;
    padding: 2%;
    margin: 2%;

}
.exprience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 330px;
    z-index: 1;

}
#stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(35, 27, 109), rgb(90, 92, 201));
    border-image-slice: 1;
}
footer p{
text-align: center;
}
.expert{
    padding: 40px;
}